@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-Medium.eot');
    src: url('../font/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
    url('../font/Montserrat-Medium.woff2') format('woff2'),
    url('../font/Montserrat-Medium.woff') format('woff'),
    url('../font/Montserrat-Medium.ttf') format('truetype'),
    url('../font/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-Bold.eot');
    src: url('../font/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
    url('../font/Montserrat-Bold.woff2') format('woff2'),
    url('../font/Montserrat-Bold.woff') format('woff'),
    url('../font/Montserrat-Bold.ttf') format('truetype'),
    url('../font/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-Regular.eot');
    src: url('../font/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
    url('../font/Montserrat-Regular.woff2') format('woff2'),
    url('../font/Montserrat-Regular.woff') format('woff'),
    url('../font/Montserrat-Regular.ttf') format('truetype'),
    url('../font/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

